.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  @media screen and (max-width: 800px) {
    top: 68px;
    right: 20px;
    width: 180px;
    height: 300px;
    padding: 5px;
    font-size:13px;
  }
  .empty-message {
   font-size:18px;
   margin: 50px auto;
   color: slategray;
  }

  .cart-items {
    height: 290px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
    border: none;
  }
}
