.sign-in {
  width: 350px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px){
    width:90%;
}
  .title{
   margin: 10px 0;
  }
  .button {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
}
